@model List<Drink>;

@{
    ViewData["Title"] = "Ital";
}

<div>
    <h1 class="display-4">Italok</h1>
</div>

<div>
    <p></p>
</div>

<div>
    <a asp-action="ShowCreateDrink">Létrehoz</a>
    <hr>
</div>

<div>
    @foreach (Drink drink in Model)
    {
        <p>
            @drink.Brand @drink.Name
           
            @drink.AlcoholString()
         @drink.BottleString() -
        @drink.PriceString()
    </p>
}
</div>