@model Party

@{
    ViewData["Title"] = "Szerkeztés";
}

<div class="text-center">
    <h1 class="display-4">Buli Szerkeztése</h1>
</div>

<hr />
<form asp-action="Edit" method="POST">
    <input class="form-control" type="text" asp-for="Id" value="@Model.Id" hidden />
    <div class="form-group">

        <label>Szervező</label>
        <input class="form-control" type="text" asp-for="Host" value="@Model.Host">

        <label>Helyszín</label>
        <input class="form-control" type="text" asp-for="Location" value="@Model.Location">

        <label>Időpont</label>
        <input class="form-control" type="datetime-local" asp-for="Time" value="@Model.Time">

        <label>Kapacitás</label>
        <input class="form-control" type="number" asp-for="Capacity" value="@Model.Capacity">
    </div>
    <input class="btn-primary" type="submit" value="Mentés">
</form>

<div>
    <a asp-action="Index">Vissza</a>
</div>

@*Snack hozzáadás*@
<div>
    <p>Snack hozzáadás</p>
    <input class="form-control" type='text' id='nameSnack' placeholder="Név" required/>
    <input class="form-control" type='number' id='priceSnack' placeholder="Ár" required/>
    <input class="form-control" type='number' id='numberSnack' placeholder="Mennyiség (db)" required/>
    <input type='button' value='Hozzáad' id='addsnack' />
    <ul id='listSnack'></ul>

    <script>
        var nameprice;
        var partyId = @Model.Id;

        document.getElementById("addsnack").onclick = function() {
            
            var name = document.getElementById("nameSnack").value;
            var price = document.getElementById("priceSnack").value;
            var number = document.getElementById("numberSnack").value;
            if(name != ""){
                var ul = document.getElementById("listSnack");
                var li = document.createElement("li");
                li.appendChild(document.createTextNode(name + ":" + price + ":" + number));
                ul.appendChild(li);
                nameprice = name + ":" + price + ":" + number + ":" + partyId;

                var url = "/Party/GetArraySnack";
                var data = nameprice;
                $.post(url, {data: data});
            }	   
        }
    </script>
</div>

@*Ital hozzáadás*@
<div>
    <p>Ital hozzáadás</p>
    <input class="form-control" type='text' id='nameDrink' placeholder="Név" required/>
    <input class="form-control" type='number' id='priceDrink' placeholder="Ár" required/>
    <input class="form-control" type='number' id='literDrink' placeholder="Mennyiség (L)" required/>
    <input type='button' value='Hozzáad' id='addital' />
    <ul id='list'></ul>

    <script>
        var nameprice;
        var partyId = @Model.Id;

        document.getElementById("addital").onclick = function() {
            
            var name = document.getElementById("nameDrink").value;
            var price = document.getElementById("priceDrink").value;
            var liter = document.getElementById("literDrink").value;
            if(name != ""){
                var ul = document.getElementById("list");
                var li = document.createElement("li");
                li.appendChild(document.createTextNode(name + ":" + price + ":" + liter));
                ul.appendChild(li);
                nameprice = name + ":" + price + ":" + liter + ":" + partyId;

                var url = "/Party/GetArrayDrink";
                var data = nameprice;
                $.post(url, {data: data});
            }	   
        }

    </script>
</div>