@model List<Party>;

@{
    ViewData["Title"] = "Party";
}

<div>
    <h1 class="display-4">Bulik</h1>
</div>


<div>
    <a asp-action="ShowCreate">Létrehoz</a>
    <hr>
</div>

<div>
    @foreach (Party party in Model)
    {
        <p>Szervező: @party.Host</p>
        <p>Helyszín: @party.Location</p>
        <p>Dátum: @party.Time.ToString("yyyy-MM-dd HH:mm")</p>

        <table>
            <tr>
                <th>Jelentkezők:</th>
            </tr>
            @foreach (string member in party.Members)
            {
                <tr>
                    <td>@member</td>
                </tr>
            }
        </table>

        <p>Kapacitás: @party.Members.Count / @party.Capacity</p>
        
        <a asp-action="More" asp-route-id="@party.Id">Bővebben</a>
        <a asp-action="ShowEdit" asp-route-id="@party.Id">Szerkeszt</a>

        <hr>
    }
</div>

